<ion-view>
  <ion-nav-title>
	{{place.name}}
  </ion-nav-title>
  <ion-content class="place-detail-container">
    <div ng-if="place.profile_pic"
	  class="main-place-image"
      style="background-image: url('{{place.profile_pic}}')">
	  &nbsp;
    </div>
    <div class="place-action-container">
		<div class="button-bar">
		    <a  
			  ng-if="displayParams.phoneString && place.phone" 
			  href="tel: {{place.phone}}"
			  class="button button-icon button-positive icon ion-ios-telephone">
				<div class="button-bar-action-text">
					Call
				</div>
			</a>
		    <a 
			  ng-if="place.opentable_id"
			  ng-click="openExternalURL('http://mobile.opentable.com/opentable/?restId={{place.opentable_id}}')"
			  class="button button-icon button-positive icon ion-ios-bookmarks">
				<div class="button-bar-action-text">
					Book
				</div>
			</a>
		    <a 
			  ng-if="!place.opentable_id && place.yelp_seat_me"
			  ng-click="openExternalURL('https://www.seatme.yelp.com/r/{{place.yelp_seat_me}}')"
			  class="button button-icon button-positive icon ion-ios-bookmarks">
				<div class="button-bar-action-text">
					Book
				</div>
			</a>
		    <a 
			ng-click="saveEntry({{listEntryForPlace.id}})"
			class="button button-icon button-positive icon {{saveEntryActionIcon}}">
				<div class="button-bar-action-text">
					{{saveEntryActionText}}
				</div>
			</a>
		</div>
  	  </div>
	  
	  <!-- Snippet -->
		  <div ng-if="(listEntryForPlace && listEntryForPlace.tip)">
  		  	<div class="item item-text-wrap">
  				{{listEntryForPlace.tip}}
  			</div>
		  </div>
		  <div ng-if="!(listEntryForPlace && listEntryForPlace.tip) && place.snippet">
			  <a
				target="_blank"
			    ng-click="openExternalURL('http://m.yelp.com/biz/{{place.yelp_id}}')">
  		  	    <div class="item item-text-wrap">
  				  {{place.snippet}}
  			    </div>
			  </a>
		  </div>
		  
	  <!-- Lists and Reviews -->
  	  <div class="list">
		<a
		  class="item item-divider item-icon-right"
		  ng-if="listPlaceWasViewedFrom"
		  ng-attr-href="{{currentStateName === 'tab.saved-place-detail' ?  '#/tab/saved/' + listPlaceWasViewedFrom.id : '#/tab/lists/' + listPlaceWasViewedFrom.id }}">
		    #{{listEntryForPlace.position}} {{listPlaceWasViewedFrom.entry_name}}
			<span ng-if="listPlaceWasViewedFrom.city_name"> in {{listPlaceWasViewedFrom.city_name}}</span>
	 	  <i class="button-small icon ion-ios-list-outline" style="right: -2px;"></i>
		</a>
		<div class="place-detail-link"
		    ng-if="place.yelp_id">
			<a 
			  ng-if="place.yelp_id"
			  class="button button-full button-light item-icon-right" 
			  target="_blank"
			  ng-click="openExternalURL('http://m.yelp.com/biz/{{place.yelp_id}}')">
			  <div>
		        {{place.review_count}} Yelp Reviews
	   		  </div>			
		 	  <i class="icon">
			    <div 
		          class="stars" 
				  style="background-position: 0px {{displayParams.starRatingOffset}}px;">
			    </div>
	          </i>
		    </a>
	      </div>
	  </div>
	  	  
	  <!-- Map and Address -->	  
	  <div class="list">
		  <div class="map">
			  <div class="row">
			    <div class="col col-100">
			<a ng-click="openExternalURL('http://maps.apple.com/?q=+{{place.latitude}},{{place.longitude}}')">
				  <img src="http://maps.googleapis.com/maps/api/staticmap?center={{place.latitude}},{{place.longitude}}&zoom=15&scale=2&size=400x150&maptype=roadmap&key=AIzaSyBtS-_FLNzSZDSUf9FRBvB1_2Z4OqTMPPc&format=png&visual_refresh=true&markers=size:medium%7Ccolor:0xff2600%7Clabel:0%7C{{place.latitude}},{{place.longitude}}" style="width:100%" />
			  </a>
			    </div>
			  </div>
		  </div>		  
		  
		  <div class="place-detail-link address-link" ng-if="place.latitude">
			<a 
			  class="button button-full button-light item-icon-right" 
			  ng-click="openExternalURL('http://maps.apple.com/?q=+{{place.latitude}},{{place.longitude}}')">
				<div ng-if="displayParams.displayableAddress">
		          {{displayParams.displayableAddress}}
	   		    </div>
				<div ng-if="displayParams.displayableNeighborhood" class="subtle-text">
				  {{displayParams.displayableNeighborhood}}
	   		    </div>
				<i class="icon ion-ios-navigate-outline"></i>
		    </a>
	        </div>
  		</div>
  </ion-content>
</ion-view>
