<ion-view view-title="Top {{list.plural_entry_name}} in {{list.city_name}}">
  <ion-content>
    <ion-list>
      <ion-item 
	    class="item-remove-animate item-avatar item-icon-right" 
		ng-repeat="entry in list.entries" 
		type="item-text-wrap" 
		  ng-attr-href="{{currentStateName === 'tab.saved-place-detail' ?  '#/tab/saved/' + list.id + '/' + entry.id  : '#/tab/lists/' + list.id + '/' + entry.id }}">
        <img ng-src="{{entry.list_item_thumbnail}}"> 
        <h2><span ng-if="entry.position">{{entry.position}}. </span>{{entry.name}}</h2>
        <p>{{entry.snippet}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button 
		  class="button-royal" 
		  ng-click="remove(list)">
          Save
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
