<ion-view view-title="WhatsNom">
  <ion-nav-buttons side="secondary">
    <select 
      class="button button-clear header-select" 
      ng-if="supportedCities"
      ng-model="selectedCity" 
      ng-init="setupCitySelector()"
      ng-options="opt.id as opt.label for opt in supportedCities"     
      ng-change="updateSelectedCity(selectedCity)">
    </select>
  </ion-nav-buttons>
  <ion-content>
    <div class="center scroll" ng-hide="listsWithHeaders">
      <div class="row">
        <div class="col center spinner-container">
		      <ion-spinner class="spinner-royal" icon="ripple"></ion-spinner>
	      </div>
	    </div>
    </div>
    <ion-refresher 
      ng-hide="!listsWithHeaders" 
      pulling-text="Pull to refresh" 
      on-refresh="pullToRefreshLists()">
    </ion-refresher>
    <ion-list 
      ng-hide="!listsWithHeaders" 
      class="lists-detail-container">
      <div 
        collection-repeat="item in listsWithHeaders"
        item-width="100%"
        divider-collection-repeat>
        <ion-item 
          href="#/tab/lists/{{item.id}}">
          <div 
            class="list-detail-row animated-in" 
            ng-show="item.cover"
            style="background: url({{item.cover}}); background-position: center; background-size: cover; ">
	          <div class="list-detail-row-overlay">
		          <h2>{{item.name}}</h2>
		          <p>
                <i class="icon ion-ios-location"></i> {{item.spot_count}}
                <i class="icon ion-star"></i> {{item.review_count}} 
                <i class="icon ion-android-list"></i> {{item.snippet}}
              </p>
	          </div>
	        </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
