<ion-view view-title="Account">
  <ion-content>
    <ion-list>
		<label class="item" ng-hide="hideFBLoginButton">
		    <button class="button button-block button-positive" ng-click="fbLogin()">
		    Login with Facebook
		    </button>
		</label>
		<label class="item" ng-hide="!hideFBLoginButton">
		    <button class="button button-block" ng-click="fbLogout()">
		    Logout {{logout_posttext}}
		    </button>
		</label>
		<ion-item ng-if="fbname">Welcome, {{fbname}}!</ion-item>
		<ion-item ng-if="fbuid">Storing data under user {{fbuid}}</ion-item>
		<ion-item ng-if="!fbuid">No active user session</ion-item>
		
    </ion-list>
  </ion-content>
</ion-view>
