<ion-view view-title="Saved" cache-view="true">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="pullToRefreshBookmarks()">
	</ion-refresher>
    <ion-list>
      <ion-item class="item-divider">Your Bookmarks</ion-item>	
	  <ion-item ng-if="!bookmarks">You haven't saved any places yet</ion-item>
      <ion-item 
	    class="item-remove-animate item-avatar item-icon-right" 
		ng-if="bookmarks"
		ng-repeat="entry in bookmarks" 
		type="item-text-wrap" 
		href="#/tab/saved/{{entry.list_id}}/{{entry.id}}">
        <img ng-src="{{entry.list_item_thumbnail}}"> 
        <h2>{{entry.place.name}}</h2>
        <p>{{entry.place.snippet}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button 
		  class="button-royal" 
		  ng-click="remove(list)">
          Remove
        </ion-option-button>
      </ion-item>

      <ion-item class="item-divider">Account Settings</ion-item>	
		<label class="item" ng-hide="hideFBLoginButton">
		    <button class="button button-block button-positive" ng-click="fbLogin()">
		    Login with Facebook
		    </button>
		</label>
		<label class="item" ng-hide="!hideFBLoginButton">
		    <button class="button button-block" ng-click="fbLogout()">
		    Logout {{logout_posttext}}
		    </button>
		</label>
		<ion-item ng-if="fbuid">storing data for user {{fbuid}}</ion-item>
		<ion-item ng-if="!fbuid">no active user session</ion-item>

    </ion-list>
  </ion-content>
</ion-view>
