<ion-view view-title="Saved" cache-view="true">
    <ion-nav-buttons side="secondary" ng-hide="!hideFBLoginButton">
      <button class="button icon {{filterTypeIcon}}" ng-click="toggleFilter()"></button>
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher  ng-if="bookmarks" pulling-text="Pull to refresh" on-refresh="pullToRefreshBookmarks()">
    </ion-refresher>
    <ion-list>
	  <ion-item ng-if="hideFBLoginButton && (!bookmarks || bookmarks.length == 0)" style="text-align: center;">
	  	You haven't saved any places yet
	  </ion-item>
	  <ion-list ng-repeat="list in bookmarks" ng-if="bookmarks">
	      <a 
		    href="#/tab/saved/{{list.id}}"
  		    class="item item-divider item-icon-right">
		    {{list.city_name}} {{list.plural_entry_name}}
   	 	    <i class="button-small icon ion-ios-list-outline" style="right: -2px;"></i>
		  </a>	
		  
		  
		  
	  	  <div class="lists-detail-container list-with-entries">
	        <ion-item 
			  ng-repeat="entry in list.entries | orderBy:listOrderField" 
			  type="item-text-wrap" 
			  href="#/tab/saved/{{entry.list_id}}/{{entry.id}}">
	          <div class="list-detail-row" 
			    style="background: url({{entry.list_item_thumbnail}}); background-position: center; background-size: cover;">
			    <div class="list-entry-position" ng-if="entry.position" >
					<h2 ng-class="(entry.position > 9) ? 'smaller-text' : ''">
						{{entry.position}}
					</h2>
				</div>
			    <div class="list-detail-row-overlay">
				  <h2>{{entry.name}}</h2>
				  <p>
					  <span 
					    ng-if="entry.displayed_distance_from_me" 
					    class="distance-from-me">
					    {{entry.displayed_distance_from_me}} mi · 
				      </span>
				      {{entry.snippet}}
				  </p>
			    </div>
			  </div>
	          <ion-option-button 
	  		    class="button-assertive" 
			    ng-click="removeEntry(entry.id)">
	            Remove
	          </ion-option-button>
		    </ion-item>
	      </div>
      </ion-list>

		<label class="item" ng-hide="hideFBLoginButton">
		    <button class="button button-block button-positive" ng-click="fbLogin()">
		    Login with Facebook to Save Places
		    </button>
		</label>
		<label class="item" ng-hide="!hideFBLoginButton">
		    <button class="button button-block" ng-click="fbLogout()">
		    Logout {{logout_posttext}}
		    </button>
		</label>
		<!--<ion-item ng-if="fbuid">storing data for user {{fbuid}}</ion-item>
		<ion-item ng-if="!fbuid">no active user session</ion-item>-->

    </ion-list>
  </ion-content>
</ion-view>
