<ion-view view-title="Top Lists">
  <ion-nav-buttons side="secondary">
    <select 
      class="button button-clear header-select" 
      ng-model="selectedCity" 
      ng-init="setupCitySelector()"
      ng-options="opt.id as opt.label for opt in supportedCities"     
      ng-change="updateSelectedCity(selectedCity)">
    </select>
  </ion-nav-buttons>
  <ion-content>
    <div class="center scroll" ng-hide="lists">
      <div class="row">
        <div class="col center spinner-container">
		      <ion-spinner class="spinner-royal" icon="ripple"></ion-spinner>
	      </div>
	    </div>
    </div>
    <ion-refresher ng-hide="!lists" pulling-text="Pull to refresh" on-refresh="pullToRefreshLists()">
    </ion-refresher>
    <ion-list ng-hide="!lists" ng-repeat="genreList in lists">
      <ion-item 
        class="item-divider"  
        style="margin-top: 4px;">{{genreList.name}}
      </ion-item>	
	    <div class="lists-detail-container">
        <ion-item 
          ng-repeat="list in genreList.items" 
          href="#/tab/lists/{{list.id}}">
          <div 
            class="list-detail-row animated-in" 
            style="background: url({{list.cover}}); background-position: center; background-size: cover;">
	          <div class="list-detail-row-overlay">
		          <h2>{{list.name}}</h2>
		          <p>{{list.snippet}}</p>
	          </div>
	        </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
